{% macro displaySourceList(source_list) %}
    <div class="container-fluid">
        <div class="card-columns">
            {% for news in source_list %}
            <div class="card ">
                <div class="card-header">
                    <h4><a href="/articles/{{news.id}}">{{news.name}}</a></h4>
                </div>
                <div class="card-body">
                    <p class="desc">
                        {{news.description}}
                    </p>
                    <a href="/articles/{{news.id}}"><button class="btn btn-primary">Read Articles</button> </a>
                    <a href="{{news.url}}"><button class="btn btn-primary" id="visit">Visit {{news.name}}</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}
