{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block styles%}
    {{ super() }}

{% endblock %}

{% block content %}
<div class="container-fluid" id="allsources" >
    <div class="overlay">
        <h2 class="text-center font-weight-bold headers" >General News</h2>
        {{ macro.display_new_sources(general) }}
 
        <h2 class="text-center font-weight-bold headers" > Entertainment News</h2>
        {{ macro.display_new_sources(entertainment) }}
        <h2 class="text-center font-weight-bold headers" > Sports news </h2>
        {{ macro.display_new_sources(sports) }}
    </div>
</div>

{% endblock %}