{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block styles%}
    {{ super() }}

{% endblock %}

{% block content %}
<div class="container-fluid" >
    
        <h2 class="text-center" >General News</h2>
        {{ macro.displaySourceList(general) }}
 
        <h2 class="text-center" > Sports news </h2>
        {{ macro.displaySourceList(sports) }}

        <h2 class="text-center" > Entertainment News</h2>
        {{ macro.displaySourceList(entertainment) }}
    
</div>

{% endblock %}